:root {
  box-sizing: border-box;

  background-color: #141419;
  --cursor: pointer;
  --gap: 8px;
}

html {
  min-width: 400px;
}

.wrap {
  position: relative;
  display: grid;
  width: 424px;
  height: 424px;
  margin: 100px auto;
  padding: var(--gap);

  background-color: white;
  border-radius: 8px;

  grid-gap: var(--gap);
  grid-template-areas: "a b c d" "e f g h" "i j k l" "m n o p";

  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  font-weight: 700;
  font-size: 25px;
  color: white;

  background-color: #232323;
  border-radius: 5%;
  box-shadow: inset 3px 3px 5px rgba(240, 240, 240, 0.2), inset -3px -3px 5px rgba(0, 0, 0, 0.9);

  transition: color 0.1s linear, background-color 0.1s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.el:hover {
  background-color: #3d3d3d;
  cursor: var(--cursor);
}
.el:active {
  color: #009cb8;

  box-shadow: inset 2px 2px 4px rgba(240, 240, 240, 0.8), inset -3px -3px 3px rgba(0, 0, 0, 0.9);
}

.button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  background-color: #232323;
  box-shadow: inset 3px 3px 5px rgba(240, 240, 240, 0.2), inset -3px -3px 5px rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 0.1s linear, background-color 0.05s linear;
  outline: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  color: tomato;
}
.button:active {
  box-shadow: inset 1px 1px 3px rgba(240, 240, 240, 0.8), inset -3px -3px 3px rgba(0, 0, 0, 0.9);
  color: #009cb8;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.button--restart {
  position: absolute;
  top: 40px;
  right: 50px;
}
